body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-top: 100%;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(20, 30px);
    grid-template-columns: repeat(10, 30px);
    gap: 1px;
    background-color: #212121;
    border: 10px solid #212121;
    width: 100%;
    max-width: 330px;
    margin-bottom: 20px;
}

#game-board div {
    width: 30px;
    height: 30px;
    background-color: #424242;
}

.block {
    border-radius: 4px;
}

#score {
    font-size: 1.5rem;
}

#start-button {
    margin-bottom: 20px;
}

#touch-controls {
    display: none;
}

#touch-controls button {
    position: absolute;
    background: transparent;
    border: none;
    width: 33%;
    height: 33%;
    opacity: 0.5;
}

#left-button {
    left: 0;
    top: 33%;
}

#right-button {
    right: 0;
    top: 33%;
}

#rotate-button {
    left: 33%;
    top: 0;
}

#down-button {
    left: 33%;
    bottom: 0;
}

@media (min-width: 768px) {
    #game-board {
        max-width: 600px; /* Tamanho máximo para dispositivos maiores */
        margin-left: 0;
        margin-right: 60px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    }
}

@keyframes explode {
    0% {
        background-color: yellow;
        transform: scale(1);
    }
    50% {
        background-color: red;
        transform: scale(1.5);
    }
    100% {
        background-color: yellow;
        transform: scale(0);
    }
}

.explode {
    animation: explode 0.5s ease-out forwards;
}

@media (max-width: 767px) {
    #touch-controls {
        display: block;
    }
}
